* {
  margin: 0;
  padding: 0;
}

.container-login {
  padding: 20px;
  margin: 20px;
  margin-right: 1100px;
  border: 2px solid black;
  border-radius: 4px;
}

.container-login h2 {
  margin-bottom: 20px;
}

.form-login {
  margin-top: 20px;
}

.form-login input {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  outline: none;
  padding: 10px;
  width: 300px;
}

.form-login button {
  border: none;
  border-radius: 0;
  outline: none;
  padding: 10px;
  background: #2e00d4;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.form-login button:hover {
  background: #5830e7;
}

.form-login .mensagem {
  color: #2e00d4;
  font-size: 14px;
  margin-top: 10px;
}